/* Dropdown base */
.dropdown {
  position: absolute;
  top: 70px;
  right: 20px;
  width: 260px;
  color: #a3a3a3;
  background: #2c2c2c;
  border: 2px solid #aaa;
  border-radius: 10px;
  padding: 20px;
  z-index: 1000;
}

.hidden {
  display: none;
}

/* Inputs */
.input-group {
  margin-bottom: 15px;
}

.input-group label {
  color: rgb(202,190,168);
  font-weight: bold;
}

.input-group input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid #888;
  color: white;
  padding: 5px 0;
}

/* Username */
#usernameInput {
  width: 100%;
  background: transparent;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid #888;
  color: #a3a3a3;
  font-size: 18px;
  margin-bottom: 20px;
}

/* Profile circle */
.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #000;
  border: 2px solid #aaa;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

/* Toggle switch */
.switch {
  display: inline-block;
  width: 50px;
  height: 25px;
  position: relative;
  margin-bottom: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  background: #777;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.slider::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  top: 2.5px;
  left: 3px;
  transition: 0.3s;
}

input:checked + .slider {
  background: #4fa3d1;
}

input:checked + .slider::before {
  transform: translateX(24px);
}

/* .sort for the filter dropdown menu*/
.sort-option {
  padding: 8px 0;
  cursor: pointer;
  font-weight: bold;
}

.sort-option:hover {
  color: #c084fc;
}

.sort-option.active {
  color: #c084fc;
}

#sortMenu{
  left: 270px;
  top: 160px;
}

/* Queue */
#queueMenu {
  top: auto;
  bottom: 100px;
  right: 330px;
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
}

#queueMenu h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.queue-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #333;
  margin-bottom: 10px;
}

.queue-item.current {
  background: #3a3a3a;
  border-radius: 8px;

}

.queue-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.queue-img {
  width: 45px;
  height: 45px;
  background: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.queue-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

.queue-text {
  display: flex;
  flex-direction: column;
}

.queue-title {
  font-weight: bold;
  font-size: 14px;
}

.queue-artist {
  font-size: 12px;
  color: #aaa;
}

.queue-item:hover {
  background: #1e1e1e;
  cursor: pointer;
}

#queueList {
  max-height: 200px;
  overflow-y: auto;
}

.queue-item.current {
  background: #3a3a3a;
}

.suggestion-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;  
}
