.playlist-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  color: white;
  max-width: 900px;
}

#playlistName {
  font-size: 48px;
  font-weight: bold;
  border: 2px solid #888;
  padding: 20px;
}

.playlist-actions {
  display: flex;
  margin-top: -35px;
  margin-bottom: 25px;
  gap: 35px;
  font-size: 26px;
  color: #888;
}

.playlist-actions i {
  cursor: pointer;
}

.playlist-actions i:hover {
  color: rgb(226, 108, 209);
}

.playlist-song {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2c2c2c;
  padding: 10px 15px;
  border-radius: 8px;
}

.queue-btn {
  color: #777;
  cursor: pointer;
}

.queue-btn.active {
  color: rgb(226, 108, 209); 
}

.like-btn.active {
  color: rgb(226, 108, 209);
}

.song-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.song-img {
    width: 50px;
    height: 50px;
    background: #444;
    display: flex;
    align-items: center;
    justify-content: center;
}

.song-text {
    display: flex;
    flex-direction: column;
}

.song-title {
    font-weight: bold;
}

.song-artist {
    font-size: 12px;
    color: #aaa;
}

.song-actions i:hover {
    color: white;
}

.song-actions i {
  margin-left: 15px;
  color: #777;
  cursor: pointer;
}

.song-actions {
  display: flex;
  align-items: center;
  gap: 0px;
}

.playlist-song {
    width: 600px;
}

.playlist-song i {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3a3a3a;
  padding: 12px 15px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.playlist-song i:hover {
  color: white;
}

#playlistSearch {
  width: 300px;
  margin-top: -30px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background: #2c2c2c;
  color: white;
}

#playlistSearchResults {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

#playlistSearchResults .card {
  width: 100px;
  height: 120px;
}

.confirm-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.confirm-box {
  background: #2c2c2c;
  padding: 10px 20px;
  border-radius: 12px;
  text-align: center;
  color: white;
  border: 2px solid #888;
}

.confirm-box button {
  margin: 10px;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

#confirmDelete {
  background: rgb(221, 90, 90);
  color: white;
  font-weight: bold;
}

#cancelDelete {
  background: #444;
  color: white;
  font-weight: bold;
}

#shuffleBtn.active {
  color: rgb(226, 108, 209);
}